@use "../../../utils/v.scss";

.about-wrapper {
  width: 50%;
  margin: 0 auto;
  height: calc(
    100vh - 60px - 7.5vh
  ); //60 ==> 30px padding && 7.5vh ==> header height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .about-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .profile-info {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .profile-img {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: #fff 5px solid;
    }
  }

  .animated-occupation {
    font-size: 44px;
    color: rgba(192, 193, 193, 0.522);
    font-family: v.$title_font;
    width: 350px;

    span {
      position: relative;
    }

    span::before {
      content: "Frontend";
      color: aqua;
      animation: words 20s infinite;
    }

    span::after {
      content: "";
      position: absolute;
      width: calc(100% + 8px);
      height: 100%;
      background-color: #151515;
      border-left: 2px solid orangered;
      right: -8px;
      animation: cursor 0.8s infinite step-end, typing 5s steps(30) infinite;
    }
  }
}

@keyframes cursor {
  to {
    border-left: 2px solid #151515;
  }
}

@keyframes words {
  0%,
  25% {
    content: "Frontend";
  }
  26%,
  50% {
    content: "Backend";
  }
  51%,
  75% {
    content: "Full-stack";
  }
  76%,
  100% {
    content: "Freelancer";
  }
}

@keyframes typing {
  0%,
  100% {
    width: calc(100% + 8px);
  }
  50% {
    width: 0;
  }
}

@media (max-width: 700px) {
  .about-wrapper {
    margin: 0;
    width: fit-content;

    .about-basic {
      display: flex;
      flex-direction: row;

      .profile-img {
        width: 150px;
        height: 150px;
      }

      .animated-occupation {
        font-size: 24px;
        width: fit-content;
      }
    }
  }
}

@media (max-width: 530px) {
  .about-wrapper {
    display: flex;
    .about-basic {
      display: flex;
      flex-direction: column;
    }
  }
}
